<div class="flex-container">
    
    <div id="home-icon" (click)="navigateToDash()">
        <button>
           <img src="./assets/images/Lorenzito1.jpg">
        </button>
    </div>

    <div>
        <h4>Keeping up with Lorenzo</h4>
    </div>
    
    <div class="nav" *ngIf="!(imagesVisible); else elseBlockImages">
        <a (mouseenter)="toggleImages()">Images</a>
    </div>
    <ng-template #elseBlockImages><div class="nav"><a>Images</a></div></ng-template>
    
    <div class="nav" *ngIf="!(notesVisible); else elseBlockNotes">
        <a (mouseenter)="toggleNotes()">Notes</a> 
    </div>
    <ng-template #elseBlockNotes><div class="nav"><a>Notes</a></div></ng-template>
    
    <div class="nav">
        <a routerLink="">test</a>
    </div>
    
    <div class="nav">
        <a routerLink="">Test</a>
    </div>

</div>

<div *ngIf="(imagesVisible)" (mouseleave)="toggleImages()" (mouseenter)="setHidden(); navigateToDetailView(); ">
    <app-images></app-images>
</div>

<div *ngIf="(notesVisible)" (mouseleave)="toggleNotes()">
    <app-notes></app-notes>
</div>

<div *ngIf="!(imagesVisible) && !(notesVisible) && (mainVisible)">
    <div id="main-image">
        <div>
            <h1>LORENZITO</h1>
        </div>
        <div>
            <h1>THE</h1>
        </div>
        <div>
            <h1>BURRITO</h1>
        </div>
        <div>
            <img src="./assets/images/Lorenzito1.jpg">
         </div>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>

 

